<!-- Filter selection -->
<mat-card>
  <mat-card-title>Filter by age</mat-card-title>
  <mat-card-content>
  <mat-selection-list fxLayout="row" role="list" [multiple]="false" style="display: flex;">
    <mat-list-option role="option" *ngFor="let filter of ageFilters" (click)="onAgeFilterChange(filter)">
      {{filter.desc}}
    </mat-list-option>  
  </mat-selection-list>
</mat-card-content>
</mat-card>

<!-- Sort selection -->
<mat-card>
  <mat-card-title>Sort by salary</mat-card-title>
  <mat-selection-list fxLayout="row" role="list" [multiple]="false" style="display: flex">
    <mat-list-option role="option" *ngFor="let order of sortingOrders" (click)="onSortingOrderChange(order)">{{ order.description }}</mat-list-option>
  </mat-selection-list>
</mat-card>


<!-- Filtered and sortef employee list -->
<div class="employee-table-component">
  <mat-card>
    <mat-card-title>Employee list</mat-card-title>
    <mat-card-content>
      <div class="employee-table mat-elevation-z8">
        <ng-container *ngIf="(sortedEmployees | async)?.length; else empty">
          <table mat-table [dataSource]="sortedEmployees" class="employee-table">
            <!-- Id Column -->
            <ng-container matColumnDef="employeeId">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let employee"> {{employee.Id}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="employeeName">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let employee"> {{employee.employeeName}} </td>
            </ng-container>
            <!-- Salary Column -->
            <ng-container matColumnDef="employeeSalary">
              <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Salary </th>
              <td mat-cell *matCellDef="let employee"> {{ employee.employeeSalary }} </td>
            </ng-container>
            <!-- Age Column -->
            <ng-container matColumnDef="employeeAge">
              <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Age </th>
              <td mat-cell *matCellDef="let employee"> {{ employee.employeeAge }} </td>
            </ng-container>
            <!-- Image Column -->
            <ng-container matColumnDef="employeeImage">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Image </th>
              <td mat-cell *matCellDef="let employee"> <img [src]="employee.employeeImage">></td>
            </ng-container>        
            <!-- Table data -->
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
          </table>          
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>

<!-- Templates -->

<ng-template #empty>
  <mat-card>
    <mat-card-content>      
      Loading...
    </mat-card-content>
  </mat-card>
</ng-template>