.product-table-component {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    order: 1;    
    align-self: center;
  }
}

.product-table {
  order: 2; 
  width: 100%;
  align-self: center;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-column-productPrice {
  width:100px;
  padding-right: 0px;
  text-align: right;
}

.mat-column-productImage{
  img {
    max-width: 80px;
    max-height: 80px;
    margin: 5px 10px 5px 5px;
  }
}

.mat-column-productCategory {
  width: 100px;
  text-align: center;
}

.mat-column-actions {
  text-align: center;
}